<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultlayout(nav='admin')}" >
<div layout:fragment="content">
    <div class="container">

    <ol class="breadcrumb">
        <li><a th:href="@{/admin/}"><b>Administration</b></a></li>
        <li class="active"><b>Add Retention Policies</b></li>
    </ol>

    <form id="add-rentention-policy-form" th:object="${retentionPolicy}" th:action="@{|/admin/retentionpolicies/edit/${retentionPolicy.getId()}|}" method="post">
        <div class="form-rentention-policy">

            <input type="hidden" name="id" th:field="*{id}" />

            <div class="form-group">
                <label for="name">Name</label>
                <input id="name" type="text" class="form-control" th:field="*{name}" />
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description" class="form-control" rows="3" th:field="*{description}" />
            </div>

            <div class="form-group">
                <label for="url">URL</label>
                <input id="url" type="url" class="form-control" th:field="*{url}" />
            </div>

            <div class="form-group">
                <label  for="minRetentionPeriod" class="control-label">Min Retention Period (in years)</label>
                <input id="minRetentionPeriod" type="number" class="form-control"
                       th:field="*{minRetentionPeriod}"/>
            </div>

            <div class="form-check">
                <label  for="extendUponRetrieval" class="control-label">Should the retention period be extended if a deposit is retrieved for an external user?</label>
                <input type="checkbox" class="form-check-input" id="extendUponRetrieval"
                       th:field="*{extendUponRetrieval}" />
            </div>

            <br/>

            <div class="form-group">
                <label  for="inEffectDate" class="control-label">In Effect Date</label>
                <input id="inEffectDate" type="text" class="form-control date-picker" placeholder="yyyy-mm-dd" th:field="*{inEffectDate}"/>
            </div>

            <div class="form-group">
                <label  for="endDate" class="control-label">End Date</label>
                <input id="endDate" type="text" class="form-control date-picker" placeholder="yyyy-mm-dd" th:field="*{endDate} "/>
            </div>

            <div class="form-group">
                <label  for="dateGuidanceReviewed" class="control-label">Date Guidance Review</label>
                <input id="dateGuidanceReviewed" type="text" class="form-control date-picker" placeholder="yyyy-mm-dd" th:field="*{dateGuidanceReviewed}" />
            </div>

            <div class="form-group">
                <button type="submit" name="action" value="submit" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span>Save</button>
                <button type="submit" name="action" value="cancel" class="btn btn-danger cancel">Cancel</button>
            </div>

            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        </div>
    </form>

</div>

<script type="application/javascript">
    $(document).ready(function () {
        $.datepicker.setDefaults({
            dateFormat: "yy-mm-dd",
            changeMonth: true,
            changeYear: true,
            showOtherMonths: true,
            selectOtherMonths: true
        });
        $( ".date-picker" ).datepicker();

    });
</script>
</div>
</html>
