<!DOCTYPE html><!--static/accessibility.html-->
<!DOCTYPE html><!--vaults/index.html-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/welcomelayout(nav='accessibility')}">

<head>
    <title>Accessibility statement for the Datavault website</title>
    <!-- 
        ADD THE ACCESSIBILITY STATEMT SPECIFIC STYLING HERE.

        APPEND THE STYLES GIVEN FROM DESIGNER WITH .accessibility-statement>, E.G., .accessibility-statement>p, .accessibility-statement>h1 ETC.

        NOTE THAT THE STYLES BELOW ONLY APPLY TO THE CONTENT WITHIN THE .
     -->
    <style type="text/css">
        .accessibility-statement {
            font-family: Arial, sans-serif; font-size: 12pt; 
            line-height: 1.5; 
            text-align: left; 
            margin-bottom: 0.25cm; 
            direction: ltr; 
            background: #ffffff 
        }

        .accessibility-statement>p {
            font-family: Arial, sans-serif;
            font-size: 12pt;
            line-height: 1.5;
            text-align: left;
            margin-bottom: 0.25cm;
            direction: ltr;
            background: transparent
        }

        .accessibility-statement>h1,
        h2,
        h3 {
            color: #2f5496;
            text-align: left;
            margin-bottom: 0.5cm;
            direction: ltr;
            background: transparent;
            page-break-after: avoid
        }

        .accessibility-statement>h1 {
            font-size: 24pt;
        }

        .accessibility-statement>h2 {
            font-size: 20pt;
        }

        .accessibility-statement>h3 {
            font-size: 16pt;
        }

        .accessibility-statement>a:link,
        a:visited {
            color: #0563c1;
            text-decoration: underline
        }
    </style>
</head>

<th:block layout:fragment="content">


    <div class="container accessibility-statement">
        <!-- ADD THE ACCESSIBILITY STATEMENT CONTENT HERE. -->

        <h1>Accessibility statement for the <a href="https://datavault.ed.ac.uk/">Datavault Website</a></h1>
        </p>
        <p>

        </p>
        <p>Website accessibility statement inline with Public Sector Body (Websites and Mobile Applications) (No. 2)
            Accessibility Regulations 2018</p>
        <p>

        </p>
        <p>This accessibility statement applies to:</p>
        <p><a href="https://datavault.ed.ac.uk/">https://datavault.ed.ac.uk/</a>
        </p>

        <p>
        </p>

        <!-- {{The site may not be in full control. If it isn't, the below is likely incorrect and will need to be edited}} -->

        <p>This website is run by Library and University Collections, Information Services Group at the University
            of
            Edinburgh. We want as many people as possible to be
            able to use this application. For example, that means you should be
            able to:</p>
        <p>

            <!-- {{This sections varies. Check the items listed below match with the approved Statement - add/delete items as necessary }} -->

        </p>
        <ul>
            <li>Customise most of the colours and fonts.</li>
            <li>Magnify content up to 500% without the text spilling off the screen.</li>
            <li>Not encounter any flashing, scrolling or moving text.</li>
        </ul>
        <p>

        </p>
        <p>We’ve also made the website text as simple as possible to understand.</p>
        <p>

        </p>
        <h2>Customising the website</h2>
        <p>
            AbilityNet
            has advice on making your device easier to use if you have a
            disability. This is an external site with suggestions to make your
            computer more accessible:</p>
        <p>

        </p>
        <p><a href="https://mcmw.abilitynet.org.uk/">AbilityNet
                - My Computer My Way</a></p>
        <p>

        </p>
        <p>With
            a few simple steps you can customise the appearance of our website
            using your browser settings to make it easier to read and navigate:</p>
        <p>

        </p>
        <p><a href="https://www.ed.ac.uk/about/website/accessibility/customising-site"
                target="Customising our site">Additional
                information on how to customise our website appearance</a></p>
        <p>

        </p>
        <p>If
            you are a member of University staff or a student, you can use the free SensusAccess accessible document
            conversion service:</p>
        <p>

        </p>
        <p><a href="https://www.ed.ac.uk/student-disability-service/staff/supporting-students/accessible-technology">Information
                on SensusAccess</a></p>
        <p>

        </p>
        <h2>How accessible this website is</h2>
        <p>

        </p>
        <p>We know some parts of this website are not fully accessible:</p>
        <p>

        </p>

        <!-- {{This section varies according to the site. Edit as appropriate}} -->

        <ul>
            <li>There are some areas where the colour contrast could be improved.</li>
            <li>Some non-text content does not have descriptive alt text.</li>
            <li>All links do not necessarily have meaningful hypertext.</li>
            <li>Some hyperlinks are conveyed in colour only and are not underlined.</li>
            <li>Some hyperlinks are plain URLs.</li>
            <li>Some links open in a new tab/window or pop-ups without warning.</li>
            <li>Some content is not reachable by keyboard navigation only.</li>
            <li>Some selection displays are not clear enough.</li>
            <li>There is no ‘Skip to main content’ option.</li>
            <li>There are error messages that do not give a clear description of how to fix an error.</li>
            <li>Some heading levels are missing.</li>
            <li>Assistive software such as voice recognition and screen readers are not fully compatible with the
                website.
            </li>
        </ul>
        <p>

        </p>
        <h2>Feedback and contact information</h2>
        <p>

        </p>
        <p>If
            you need information on this website in a different format, including
            accessible PDF, large print, audio recording or braille:
        </p>

        <!-- {{You may need to change the contact details if the site is not within the control of L&UC}} -->


        <ul>
            <li>Email: <a href="mailto:Information.systems@ed.ac.uk">Information.systems@ed.ac.uk</a></li>
            <li>Telephone: +44 (0)131 651 5151</li>
            <li>Use the <a href="https://www.ishelpline.ed.ac.uk/forms/">IS Helpline online contact form</a></li>
            <li>British Sign Language (BSL) users can contact us via <a href="https://contactscotland-bsl.org/">Contact
                    Scotland BSL</a>, the on-line BSL interpreting service
        </ul>

        <p>We’ll consider your request and get back to you in 5 working days.</p>
        <p>

        </p>
        <h2>Reporting accessibility problems with this website</h2>
        <p>
            We are always looking to improve the accessibility of this website. If
            you find any problems not listed on this page, or think we’re not
            meeting accessibility requirements, please contact:&nbsp;


        </p>

        <!-- {{You may need to change the contact details if the site is not within the control of L&UC}} -->

        <ul>
            <li>Email: <a href="mailto:Information.systems@ed.ac.uk">Information.systems@ed.ac.uk</a></li>
            <li>Telephone: +44 (0)131 651 5151</li>
            <li>Use the <a href="https://www.ishelpline.ed.ac.uk/forms/">IS Helpline online contact form</a></li>
            <li>British Sign Language (BSL) users can contact us via <a href="https://contactscotland-bsl.org/">Contact
                    Scotland BSL</a>, the on-line BSL interpreting service.
        </ul>
        <p>We
            will consider your request and get back to you in 5 working days.</p>
        <p>

        </p>
        <h2>Enforcement procedure</h2>
        <p>
            The
            Equality and Human Rights Commission (EHRC) is responsible for
            enforcing the Public Sector Bodies (Websites and Mobile Applications)
            (No. 2) Accessibility Regulations 2018 (the ‘accessibility
            regulations’). If you’re not happy with how we respond to your
            complaint please contact the Equality Advisory and Support Service
            (EASS) directly:</p>
        <p>

        </p>
        <p><a href="https://www.equalityadvisoryservice.com/">Contact
                details for the Equality Advisory and Support Service (EASS)</a></p>
        <p>

        </p>
        <p>The
            government has produced information on how to report accessibility
            issues:</p>
        <p>

        </p>
        <p><a href="https://www.gov.uk/reporting-accessibility-problem-public-sector-website">Reporting
                an accessibility problem on a public sector website</a></p>
        <p>

        </p>
        <h2>Contacting us by phone using British Sign Language</h2>
        <p>
            British
            Sign Language service</p>
        <p>Contact
            Scotland BSL runs a service for British Sign Language users and all
            of Scotland’s public bodies using video relay. This enables sign
            language users to contact public bodies and vice versa. The service
            operates from 8.00am to 12.00am, 7 days a week.</p>
        <p><a href="https://contactscotland-bsl.org/">Contact
                Scotland BSL service details.</a></p>
        <p>


        </p>
        <h2>Technical information about this website’s accessibility</h2>
        <p>The
            University of Edinburgh is committed to making its websites and
            applications accessible, in accordance with the Public Sector Bodies
            (Websites and Mobile Applications) (No. 2) Accessibility Regulations
            2018.</p>
        <p>

        </p>
        <h2>Compliance Status</h2>
        <p>This website is partially compliant with the Web Content Accessibility Guidelines (WCAG) 2.2 AA standard,
            due to
            the non-compliances listed below.</p>
        <p>

        </p>
        <p>The
            full guidelines are available at:</p>
        <p>

        </p>
        <p><a href="https://www.w3.org/TR/WCAG22/">Web
                Content Accessibility Guidelines (WCAG) 2.2 AA standard</a></p>
        <p>

        </p>
        <h2>Non accessible content</h2>
        <p>

        </p>
        <p>The
            content listed below is non-accessible for the following reasons.</p>
        <p></p>
        <h3>Noncompliance with the accessibility regulations


        </h3>
        <p>The
            following items do not comply with the WCAG 2.2 AA success criteria:</p>
        <p>

        </p>
        <p>

        </p>


        <!-- {{Add sections which apply to this statement}} -->
        <!-- {{Maintain the formatting of the items, as shown below in the examples below}} -->


        <ul>
            <li>Some non-text content does not have appropriate alternative text and some ARIA progress bar nodes do
                not
                have an accessible name<p>
            </li>
        </ul>
        <p><a href="https://www.w3.org/TR/WCAG22/#non-text-content">1.1.1 - Non Text Content</a></p>


        <ul>
            <li>Not all information, structure, and relationships conveyed through presentation are programmatically
                determined e.g. < li> elements are not contained in a < ul> or < ol>
            </li>
        </ul>
        <p><a href="https://www.w3.org/TR/WCAG22/#info-and-relationships">1.3.1 - Info and Relationships</a></p>


        <ul>
            <li>Some hyperlinks are conveyed with colour only</li>
        </ul>
        <p><a href="https://www.w3.org/TR/WCAG22/#use-of-color">1.4.1 - Use of Color</a></p>


        <ul>
            <li>There may not be sufficient colour contrast between font and background colours, especially where
                the text
                size is small</li>
        </ul>
        <p><a href="https://www.w3.org/TR/WCAG22/#contrast-minimum">1.4.3 - Contrast (Minimum)</a></p>


        <ul>
            <li>Some content is not accessible via keyboard only</li>
        </ul>
        <p><a href="https://www.w3.org/TR/WCAG22/#keyboard">2.1.1 - Keyboard</a></p>


        <ul>
            <li>No skip to main content button is enabled on the site</li>
        </ul>
        <p><a href="https://www.w3.org/TR/WCAG22/#bypass-blocks">2.4.1 - Bypass Blocks</a></p>


        <ul>
            <li>Some links do not contain meaningful hypertext to inform the user of their target location</li>
        </ul>
        <p><a href="https://www.w3.org/TR/WCAG22/#link-purpose-in-context">2.4.4 - Link Purpose (in Context)</a></p>


        <ul>
            <li>Some heading levels are missing</li>
        </ul>
        <p><a href="https://www.w3.org/TR/WCAG22/#headings-and-labels">2.4.6 - Headings and Labels</a></p>


        <ul>
            <li>Some selection displays are not clear enough</li>
        </ul>
        <p><a href="https://www.w3.org/TR/WCAG22/#focus-visible">2.4.7 - Focus Visible</a></p>


        <ul>
            <li>The language of each page is not programmatically determined</li>
        </ul>
        <p><a href="https://www.w3.org/TR/WCAG22/#language-of-page">3.1.1 - Language of the Page</a></p>


        <ul>
            <li>Some links open in a new tab or open pop up without warning</li>
        </ul>
        <p><a href="https://www.w3.org/TR/WCAG22/#on-input">3.2.2 - On Input</a></p>


        <ul>
            <li>Some error messages do not give a clear description of how to fix an error</li>
        </ul>
        <p><a href="https://www.w3.org/TR/WCAG22/#error-suggestion">3.3.3 - Error Suggestion</a></p>


        <ul>
            <li>The website is not fully compatible with assistive software as not all elements only use supported
                ARIA
                attributes, some ARIA hidden elements are focusable, not all ARIA input fields have accessible
                names, not
                all ARIA attributes conform to valid values and not all form elements have labels.</li>
        </ul>
        <p><a href="https://www.w3.org/TR/WCAG22/#name-role-value">4.1.2 - Name-Role-Value</a></p>



        <p>We
            aim to improve our websites accessibility on a regular and continuous
            basis. See the section below ('What we're doing to improve
            accessibility') on how we are improving our site accessibility.
        </p>
        <p>

            <!-- {{The site may not be in full control. If it isn't, the below is likely incorrect}} -->
            <!-- {{Add DATE_FOR_IMPROVEMENTS = Date Statement was approved + 11 months}} -->
        </p>
        <p>We
            are working towards solving these problems and expect significant
            improvements by June 2026. The site is fully within our control.</p>
        <p>

            <!-- {{The statement may make claims of disproportionate burden, double-check that it matches below}} -->

        </p>
        <h3>Disproportionate burden</h3>
        <p>
            We
            are not currently claiming that any accessibility problems would be a
            disproportionate burden to fix.</p>
        <p>

            <!-- {{The statement may make claims of not within scope of regulations, double-check that it matches below}} -->

        </p>
        <h3>Content that’s not within the scope of the accessibility regulations</h3>
        <p>

        </p>
        <p>At
            this time we believe no content is outwith the scope of the accessibility regulations.</p>
        <p>

        </p>
        <h2>What we’re doing to improve accessibility</h2>
        <p>

        </p>

        <!-- {{The site may not be in full control. If it isn't, the below is likely incorrect}} -->
        <!-- {{Add DATE_FOR_IMPROVEMENTS = Date Statement was approved + 11 months}} -->

        <p>We
            will continue to address and make significant improvements to the
            accessibility issues highlighted. Unless specified otherwise, a
            complete solution or significant improvement will be in place by June 2026. At this time we believe the
            site is
            fully under our control.
        <p>

        </p>
        <p>While
            we are in the process of resolving these accessibility issues we will
            ensure reasonable adjustments are in place to make sure no user is
            disadvantaged. As changes are made, we will continue to review
            accessibility and retest the accessibility of this website.</p>
        <p>

        </p>
        <p>

            <!-- {{Add the required dates to this section}} -->
            <!-- {{FIRST_STATEMENT_DATE = the date of the FIRST version of this statement - check the currently published version of the site for the date to use}} -->
            <!-- {{LAST_REVIEW_DATE = the date this version of the statement was approved by Viki's team }} -->
            <!-- {{TESTING_DATE = the date this version of the statement was tested.  If it was tested over multiple days then use the last day}} -->

        </p>
        <h2>Preparation of this accessibility statement</h2>
        <p><b>This statement was prepared on 1st July 2025. It was last reviewed on 1st July 2025.</b></p>

        <p><b>The website was last tested on 30th June 2025. The
                testing was carried out by Library
                and University Collections, Information Services Group at the University of Edinburgh</b> using
            both automated and manual methods. The site was tested on a PC,
            primarily using Microsoft Edge alongside Mozilla Firefox and Google
            Chrome.</p>
        <p>

        </p>
        <p>Recent
            world-wide usage levels survey for different screen readers and
            browsers shows that Chrome, Mozilla Firefox and Microsoft Edge are
            increasing in popularity and Google Chrome is now the favoured
            browser for screen readers:</p>
        <p>

        </p>
        <p><a href="https://webaim.org/projects/screenreadersurvey9/">WebAIM:
                Screen Reader User Survey</a></p>
        <p>

        </p>
        <p>The
            aforementioned three browsers have been used in certain questions for
            reasons of breadth and variety.</p>
        <p>

        </p>
        <p>We
            ran automated testing using <a href="https://www.deque.com/axe/devtools/chrome-browser-extension/">AXE
                Devtools</a> and
            then manual testing that included:</p>

        <!-- {{Check the items on the list below match with the approved statement - add/delete as appropriate}} -->

        <ul>
            <li>Spell
                check functionality;</li>
            <li>Scaling
                using different resolutions and reflow;</li>
            <li>Options
                to customise the interface (magnification, font, background colour,
                etc);</li>
            <li>Keyboard
                navigation and keyboard traps;</li>
            <li>Data
                validation;</li>
            <li>Warning
                of links opening in new tab or window;</li>
            <li>Information
                conveyed in the colour or sound only;</li>
            <li>Flashing,
                moving or scrolling text;</li>
            <li>Operability if JavaScript is disabled;</li>
            <li>Use
                with screen reading software (for example JAWS);</li>
            <li>Assistive
                software (TextHelp Read and Write, Windows Magnifier, ZoomText,
                Dragon Naturally Speaking, TalkBack and VoiceOver);</li>
            <li>Tooltips
                and text alternatives for any non-text content;</li>
            <li>Time
                limits;</li>
            <li>Compatibility
                with mobile accessibility functionality (Android and iOS);</li>
            <li>Any drag functionality and alternatives;</li>
            <li>Consistent help function;</li>
            <li>No need to re-enter data already submitted;</li>
            <li>Any cognitive tests.</li>
        </ul>

        <!-- {{Delete the entire Change Log section if this is the first manual test - i.e. no fixes have been implemented}} -->
        <!-- {{The fixes should be grouped by date.  They should contain a description of the fix and the WCAG element referred to - see example below. Entries should follow the same format as below}} -->

        <h2>Change Log</h2>
        <p>
        </p>
    </div>
</th:block>

</html>