<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="receiver" class="org.datavault.worker.queue.Receiver">
        <property name="queueServer" value="${queueServer}"/>
        <property name="queueName" value="${queueName}"/>
        <property name="queueUser" value="${queueUser}"/>
        <property name="queuePassword" value="${queuePassword}"/>
        <property name="archiveDir" value="${archiveDir}"/>
        <property name="tempDir" value="${tempDir}"/>
    </bean>

</beans>