<!DOCTYPE html><!DOCTYPE html><!--admin/index.html-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/defaultlayout(nav='admin')}">
<head><title>Admin</title></head>
<th:block layout:fragment="content">
<style th:inline="css">
    .panel {
        height: 200px;
    }
    .roles-icon {
        background: /*[(|url('@{/resources/theme/images/user-cog-solid.svg}') no-repeat center|)]*/ black;
        width: 1em;
        height: 1em;
        display: inline-block;
    }<!--/* the text 'replaced-by-tl' is replaced by thymeleaf when it renders the HTML - see org.datavaultplatform.webapp.app.config.ThymeleafTemplateTest.test36adminIndex  */-->
    @supports (-webkit-mask: /*[(|url('@{/resources/theme/images/user-cog-solid.svg}') no-repeat center) {|)]*/ replaced-by-tl
        .roles-icon {
            -webkit-mask: /*[(|url('@{/resources/theme/images/user-cog-solid.svg}') no-repeat center|)]*/ replaced-by-tl;
            mask: /*[(|url('@{/resources/theme/images/user-cog-solid.svg}') no-repeat center|)]*/ replaced-by-tl;
            background: rgb(52, 109, 191);
        }
        .roles-link:hover .roles-icon {
            background-color: rgb(36, 75, 131);
        }
    }
    .roles-label {
        vertical-align: top;
    }
    .roles-link:hover {
        text-decoration: none;
    }
    .roles-link:hover .roles-label {
        text-decoration: underline;
    }
    .panel a {
        text-decoration: none;
    }
    .panel a:hover,
    .panel a:focus {
        text-decoration: underline;
    }
</style>

<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}"><b>Home</b></a></li>
            <li class="breadcrumb-item active" aria-current="page"><b>Administration</b></li>
        </ol>
    </nav>

    <div class="row">
        <th:block th:if="${canViewVaultsSize != null && canViewVaultsSize}">
            <div class="col-6 col-md-4 mb-4">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Vault Size</h3>
                    </div>
                    <div class="panel-body">
                        <h1 class="text-center"><a href="#"><i class="bi bi-speedometer2"></i> [[${vaultsize}]]</a></h1>
                    </div>
                </div>
            </div>
        </th:block>
        <th:block th:if="${canViewInProgress != null && canViewInProgress}">
            <div class="col-6 col-md-4 mb-4">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Deposits / Retrievals In Progress</h3>
                    </div>
                    <div class="panel-body">
                        <h1 class="text-center"><a href="#"><i class="bi bi-chevron-down"></i> [[${depositsinprogress}]]</a> <a href="#"><i class="bi bi-chevron-up"></i> [[${retrievesinprogress}]]</a></h1>
                    </div>
                </div>
            </div>
        </th:block>
        <th:block th:if="${canViewQueues != null && canViewQueues}">
            <div class="col-6 col-md-4 mb-4">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Deposit / Retrieval Queues</h3>
                    </div>
                    <div class="panel-body">
                        <h1 class="text-center"><a href="#"><i class="bi bi-arrow-down"></i> [[${depositqueue}]]</a> <a href="#"><i class="bi bi-arrow-up"></i> [[${retrievequeue}]]</a></h1>
                    </div>
                </div>
            </div>
        </th:block>
        <th:block th:if="${canManageVaults != null && canManageVaults}">
            <div class="col-6 col-md-4 mb-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Vaults</h3>
                    </div>
                    <div class="panel-body">
                        <h1 class="text-center"><a th:href="@{/admin/vaults}"><i class="bi bi-folder"></i> [[${vaultcount}]]</a></h1>
                    </div>
                </div>
            </div>
        </th:block>
        <th:block th:if="${canManagePendingVaults != null && canManagePendingVaults}">
            <div class="col-6 col-md-4 mb-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Pending Vaults</h3>
                    </div>
                    <div class="panel-body">
                        <h1 class="text-center"><a th:href="@{/admin/pendingVaults}"><i class="bi bi-folder"></i> [[${pendingvaultcount}]]</a></h1>
                    </div>
                </div>
            </div>
        </th:block>
        <th:block th:if="${canManageDeposits != null && canManageDeposits}">
            <div class="col-6 col-md-4 mb-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Deposits</h3>
                    </div>
                    <div class="panel-body">
                        <h1 class="text-center"><a th:href="@{/admin/deposits}"><i class="bi bi-upload" aria-hidden="true"></i> [[${depositcount}]]</a></h1>
                    </div>
                </div>
            </div>
        </th:block>
        <th:block th:if="${canViewRetrieves != null && canViewRetrieves}">
            <div class="col-6 col-md-4 mb-4">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Retrieves</h3>
                    </div>
                    <div class="panel-body">
                        <h1 class="text-center"><a th:href="@{/admin/retrieves}"><i class="bi bi-download" aria-hidden="true"></i> [[${retrievecount}]]</a></h1>
                    </div>
                </div>
            </div>
        </th:block>
        <th:block th:if="${canManageReviews != null && canManageReviews}">
            <div class="col-6 col-md-4 mb-4">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Reviews</h3>
                    </div>
                    <div class="panel-body">
                        <h1 class="text-center"><a th:href="@{/admin/reviews}"><i class="bi bi-folder"></i> [[${reviewcount}]]</a></h1>
                    </div>
                </div>
            </div>
        </th:block>
        <th:block th:if="${canManageBillingDetails != null && canManageBillingDetails}">
            <div class="col-6 col-md-4 mb-4">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Billing</h3>
                    </div>
                    <div class="panel-body">
                        <h1 class="text-center"><a th:href="@{/admin/billing}"><i class="bi bi-currency-pound" aria-hidden="true"></i>&nbsp;</a></h1>
                    </div>
                </div>
            </div>
        </th:block>
        <th:block th:if="${canManageSchoolUsers != null && canManageSchoolUsers}">
            <div class="col-6 col-md-4 mb-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Schools</h3>
                    </div>
                    <div class="panel-body">
                        <h1 class="text-center"><a th:href="@{/admin/schools}"><i class="bi bi-people" aria-hidden="true"></i>[[${groupcount}]]</a></h1>
                    </div>
                </div>
            </div>
        </th:block>
        <th:block th:if="${canManageRoles != null && canManageRoles}">
            <div class="col-6 col-md-4 mb-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Roles</h3>
                    </div>
                    <div class="panel-body">
                        <h1 class="text-center">
                            <a th:href="@{/admin/roles}" class="roles-link">
                                <!-- TODO this hack should be changed to show fa-user-cog once font-awesome has been upgrade to version 5 -->
                                <i class="roles-icon"></i>
                                <span class="roles-label">[[${rolecount}]]</span>
                            </a>
                        </h1>
                    </div>
                </div>
            </div>
        </th:block>
        <th:block th:if="${canViewEvents != null && canViewEvents}">
            <div class="col-6 col-md-4 mb-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Events</h3>
                    </div>
                    <div class="panel-body">
                        <h1 class="text-center"><a th:href="@{/admin/events}"><i class="bi bi-clock"></i> [[${eventcount}]]</a></h1>
                    </div>
                </div>
            </div>
        </th:block>
        <th:block th:if="${canManageRetentionPolicies != null && canManageRetentionPolicies}">
            <div class="col-6 col-md-4 mb-4">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Retention Policies</h3>
                    </div>
                    <div class="panel-body">
                        <h1 class="text-center"><a th:href="@{/admin/retentionpolicies}"><i class="bi bi-bell"></i> [[${policycount}]]</a></h1>
                    </div>
                </div>
            </div>
        </th:block>
        <th:block th:if="${canManageArchiveStores != null && canManageArchiveStores}">
            <div class="col-6 col-md-4 mb-4">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Archive Stores</h3>
                    </div>
                    <div class="panel-body">
                        <h1 class="text-center"><a th:href="@{/admin/archivestores}"><i class="bi bi-upload"></i> [[${archivestorescount}]]</a></h1>
                    </div>
                </div>
            </div>
        </th:block>

        </div>
    </div>
</th:block>
</html>
