<!DOCTYPE html><!--groups/index.html-->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultlayout(nav='groups')}" >
<head><title>Group Vaults</title></head>
<div layout:fragment="content">

<div class="container">

    <ol class="breadcrumb">
        <li class="active"><b>Group Vaults</b></li>
    </ol>

    <div th:if="${groups != null}">
            <div th:each="group,gStatus: ${groups}" class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-users" aria-hidden="true"></i> [[${group.name}]] ([[${group.getID()}]])</h3>
                </div>
                <div class="panel-body">

                   <div th:if="${!group.enabled}" class="alert alert-warning" role="alert">
                    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
                    This group is disabled and cannot be used for new Vaults
                   </div>

                    <div class="table-responsive">
                        <table class="table table-striped">

                            <thead>
                                <tr class="tr">
                                    <th>Vault</th>
                                    <th>Description</th>
                                    <th>Owner</th>
                                    <th>Size</th>
                                    <th>Policy</th>
                                    <th>Timestamp</th>
                                </tr>
                            </thead>

                            <tbody th:if="${gStatus.index < #lists.size(vaults)}"><!--/* just in case groups is larger than vaults array */-->
                                    <tr th:each="vault: ${vaults[gStatus.index]}" class="tr">
                                        <td><a th:href="@{|/vaults/${vault.getID()}/|}">[[${vault.name}]]</a></td>
                                        <td>[[${vault.description}]]</td>
                                        <td>[[${vault.userID}]]</td>
                                        <td>[[${vault.getSizeStr()}]]</td>
                                        <td>[[${vault.policyID}]]</td>
                                        <td>[[${#dates.format(vault.getCreationTime(),'HH:mm:ss yyyy-MM-dd')}]]<!--/* datetime */--></td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div th:if="${groups == null}">
            You are not an owner of any group!
        </div>

</div>
</div>
</html>

