<!DOCTYPE html><!--admin/users/create.html-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultlayout(nav='user')}">
<head><title>Admin - Create User</title></head>
<th:block layout:fragment="content">
<div class="container">

    <ol class="breadcrumb">
        <li class="active"><b>Create User</b></li>
    </ol>

    <form id="create-user" th:object="${user}" class="form" role="form" action="" method="post">

        <div class="form-group">
            <label class="control-label">User ID:</label>
            <input type="text"
                   class="form-control"
                   th:field="*{ID}"
            />
        </div>

        <div class="form-group">
            <label class="control-label">First Name:</label>
            <input type="text"
                   class="form-control"
                   th:field="*{firstname}"
            />
        </div>

        <div class="form-group">
            <label class="control-label">Last Name:</label>
            <input type="text"
                   class="form-control"
                   th:field="*{lastname}"
            />
        </div>

        <div class="form-group">
            <label class="control-label">Password:</label>
            <input type="password"
                   class="form-control"
                   th:field="*{password}"
            />
        </div>

        <div class="form-group">
            <button type="submit" name="action" value="submit" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span>Save</button>
            <button type="submit" name="action" value="cancel" class="btn btn-danger cancel">Cancel</button>
        </div>

        <input type="hidden" th:name="${_csrf?.parameterName ?: ''}" th:value="${_csrf?.token  ?: ''}" />

    </form>
</div>

<script type="application/javascript">
$(document).ready(function () {

$('#create-user').validate({
    rules: {
        note: {
            required: true
        }
    },
    highlight: function (element) {
        $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
    },
    success: function (element) {
        element.addClass('valid')
                .closest('.form-group').removeClass('has-error').addClass('has-success');
    }
});
});
</script>

</th:block>
</html>
