<fieldset id="info-fieldset" xmlns:th="http://www.thymeleaf.org">
    <div class="form-card">
        <h2 class="fs-title">Vault Information</h2>

        <div class="form-group required">
            <label for="vaultName" class="control-label">Vault Name</label>
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip"
                  title="Maximum 400 characters.">
                                                                </span>
            <input type="text"
                   class="form-control"
                   id="vaultName"
                   placeholder="Enter a descriptive name for the Vault e.g. the project or experiment."
                   th:field="*{name}"
            />
        </div>

        <div class="form-group required">
            <label for="description" class="control-label">Description</label>
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip"
                  title="Maximum 6,000 characters.">
                                                                </span>
            <textarea type="text" class="form-control"
                    id="description"
                    rows="4" cols="60"
                    th:field="*{description}">
            </textarea>
        </div>

        <div class="form-group">
            <label  for="grantEndDate" class="control-label">
                <strong>Grant End Date</strong>
            </label>
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip"
                  title="This information will assist the university in ensuring the archive is kept for at least the minimum amount of time required by the funder(s). This field should be left blank if there is no grant associated with the work.&nbsp;">
            </span>
            <input type="text" id="grantEndDate" class="form-control date-picker" placeholder="yyyy-mm-dd"
                   th:field="*{grantEndDate}"
                   />
             <span id="invalid-grant-end-date-span" style="font-size: 1.2em; font: bold; color: #f00; display: inline;"></span>
        </div>

        <div class="alert alert-info" role="alert">
            <p>
                You will not be able to add new deposits to this Vault once it is closed.
                The Vault will be closed ONE calendar year after the first deposit.
                Or, if you specify a Grant End Date, ONE calendar year after the Grant End Date IF that falls later than one year after the first deposit.
            </p>
        </div>

        <div class="form-group required">
            <label for="policyInfo" class="control-label">Retention Policy (tell us how long we must keep the data)</label>
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip"
                  title="Tell us which funder's policy we must comply with. This tells us the minimum amount of time we must keep the data. This information is important when deciding on the Review Date. If there is no funder, choose the University of Edinburgh retention policy. If there are multiple funders, choose the one with the longest minimum retention period. ">
                                                                </span>
            <a href="https://www.ed.ac.uk/information-services/research-support/research-data-service/planning-your-data/funder-requirements">
                Read more about retention policies
            </a>
            <div class="row">
                <div class="col-md-12">
                    <select id="policyInfo" name="policyInfo" data-width="auto" class="form-control retentionPolicy-select selectpicker show-tick">
                        <option selected disabled data-hidden="true">Please choose a retention policy</option>
                        <th:block th:each="retentionPolicy: ${policies}">
                        <option th:value="|${retentionPolicy.getID()}-${retentionPolicy.minRetentionPeriod}|"
                             th:selected="${vault?.policyInfo != null && vault?.policyInfo == retentionPolicy.getPolicyInfo()}"
                        >[[${retentionPolicy.name}]] (Minimum period: [[${retentionPolicy.minRetentionPeriod}]])</option>
                        </th:block>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group required">
            <label for="reviewDate" class="control-label">
                <strong>Review Date (tell us how long you want us to keep the data)</strong>
            </label>
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip"
                  title="The date by which the vault should be reviewed for decision as to whether it should be deleted or whether there are funds available to support continued storage.&nbsp;If you wish to extend the review date further into the future, please contact the support team to discuss the funding of the storage for the vault.">
                                                                </span>
            <input type="text" class="form-control" id="reviewDate" placeholder="yyyy-mm-dd"
                   th:field="*{reviewDate}"
            />
                    <span id="updated-review-date-span" style="font-size: 1.2em; font: bold; color: #006400; display: inline;"></span>
                   <span id="invalid-review-date-span" style="font-size: 1.2em; font: bold; color: #f00; display: inline;"></span>
        </div>

        <div class="form-group required">
            <label for="groupID" class="control-label">School</label>
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip"
                  title="The School to which the vault belongs. In the absence of the vault Owner, School officers may be consulted on the management of the vault.">
                                                                </span>
            <div class="row">
                <div class="col-md-12">
                    <select id="groupID" name="groupID" data-width="auto" class="form-control group-select selectpicker show-tick">
                        <option selected disabled data-hidden="true">Please choose a School</option>
                        <th:block th:each="group: ${groups}">
                            <option th:if="${group.enabled}" th:value="${group.getID()}"
                                    th:selected="${vault?.groupID != null && vault?.groupID == group.getID()}"
                            >[[${group.name}]]</option>
                        </th:block>
                    </select>
                </div>
                <div class="col-md-12">
                    <small><small>
                            Biomedical Sciences (e.g. Centre for Discovery Brain Sciences),
                            Clinical Sciences (e.g. MRC Centre for Inflammation Research)
                            and Molecular, Genetic and Population Health Sciences (e.g. IGMM)
                            are all ultimately under the stewardship of the Edinburgh Medical School.
                            We encourage colleagues to select their deanery rather than EMS,
                            for the ease of identifying the appropriate support staff for the
                            purposes of the review process and so on.
                        </small></small>
                </div>
            </div>
        </div>

        <div class="form-group" required>
            <label class="control-label">Rough estimate of the amount of data:</label>
            <div class="radio">
                <label>
                    <input type="radio" name="estimate" value="UNDER_100GB"
                     th:checked="${vault?.estimate != null && vault?.estimate == 'UNDER_100GB'}"
                > Under 100 GB
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="estimate" value="UNDER_10TB"
                    th:checked="${vault?.estimate != null && vault?.estimate == 'UNDER_10TB'}"
                > Between 100 GB and 10 TB
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="estimate" value="OVER_10TB"
                    th:checked="${vault?.estimate != null && vault?.estimate == 'OVER_10TB'}"
                > Over 10 TB
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="estimate" value="UNKNOWN"
                    th:checked="${vault?.estimate != null && vault?.estimate == 'UNKNOWN'}"
                > Don’t know
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="notes" class="control-label">Notes regarding data retention and possible sharing</label>
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip"
                  title="Information to assist you and any other colleagues who will be part of the review process when the vault retention period expires, in deciding whether the data should be retained or deleted. Please also use this field to explain whether requests for access to the data should be refused on a vault-wide basis, or whether certain criteria should be applied and/or any Data Sharing Agreement signed before any requests are granted. Please add a blank copy of the Data Sharing Agreement to your Vault as a separate deposit.">
            </span>
            <textarea type="text" class="form-control" name="notes" id="notes"
                rows="4" cols="60"
                th:field="*{notes}"
            >
            </textarea>
        </div>
    </div>
    
    <button type="button" name="previous" class="previous action-button-previous btn btn-default" >&laquo; Previous</button>
    <a name="admin-pending-vault-summary" class="btn btn-primary" style="margin-bottom: 0;"
          th:href="@{|/admin/pendingVaults/summary/${vaultID}|}"><< Return Admin Pending Vault Summary</a>
    <button type="submit" name="save" value="Save" class="save action-button-previous btn btn-success" >
       <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save
    </button>
   

    <button type="button" name="next" class="next action-button btn btn-default">Next Step &raquo;</button>
    
    </fieldset>