<!DOCTYPE html><!--admin/retrieves/index.html-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/defaultlayout(nav='admin')}">
<head><title>Admin - Retrievals</title></head>
<th:block layout:fragment="content" th:with="queryPARAM=${#uris.escapeQueryParam(query)}">
    <div class="container">

    <ol class="breadcrumb">
        <li><a th:href="@{/admin/}"><b>Administration</b></a></li>
        <li class="active"><b>Retrievals</b></li>
    </ol>
    <th:block th:if="${retrieves != null && !#lists.isEmpty(retrieves)}">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr class="tr">
                    <th>Retrieval</th>
                    <th>Status</th>
                    <th>Timestamp</th>
                    <th>Retrieve path</th>
                    <th>Retrieve note</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                    <tr th:each="retrieve: ${retrieves}" class="tr">
                        <td><a th:href="@{|/vaults/__${retrieve.deposit.vault.getID()}__/deposits/__${retrieve.deposit.getID()}__|}">[[${retrieve.getDeposit().getID()}]]</a></td>
                        <td>[[${retrieve.status}]]</td>
                        <td>[[${#dates.format(retrieve.timestamp,globalDateTimeFormat)}]]<!--/* datetime */--></td>
                        <td>[[${retrieve.retrievePath}]]</td>
                        <td>[[${retrieve.note}]]</td>
                        <td>
                        <th:block th:if="${retrieve.status.name() == 'FAILED'}">
                            <a class="restart-deposit-btn btn btn-default btn-sm"
                               th:href="@{|/vaults/__${retrieve.deposit.vault.getID()}__/deposits/__${retrieve.deposit.getID()}__/retrieves/__${retrieve.getID()}__/restart|}">
                                Restart
                            </a>
                        </th:block>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div align="center">
            <p class="text-info">Showing [[${offset}]] - <th:block th:text="${totalRecords < (offset + recordPerPage) ? totalRecords : (offset + recordPerPage)}" /> retrieve of [[${totalRecords}]]</p>
        </div>
        <div align="center">
            <nav aria-label="...">
                <ul class="pagination pagination-lg" id="paginationButton">
                    <th:block th:each="page: ${#numbers.sequence(1,totalPages)}">
                        <li th:id="${page}"
                            th:class="${page == activePageId ? 'page-item active' : 'page-item'}"
                        >
                            <a class="page-link"
                               th:href="@{|/admin/retrieves?sort=${sort}&order=${order}&pageId=${page}&query=__${queryPARAM}__|}" tabindex="-1">[[${page}]]</a>
                        </li>
                    </th:block>
                </ul>
            </nav>
        </div><!--align-center-2-->
    </th:block>

</div>
</th:block>
</html>
