<!DOCTYPE html><!--admin/paused/retrieve/history.html-->
<html th:lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/defaultlayout(nav='admin')}">
<head>
    <title>Admin - RETRIEVE Paused - History</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<div layout:fragment="content">

    <div class="container">
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>Is Retrieve Paused?</th>
                <th>Timestamp</th>
                <th>
                    <form method="post" th:action="@{/admin/paused/retrieve/toggle}">
                        <th:block sec:authorize="hasRole('IS_ADMIN')">
                            <input id="tglPsBtn" type="submit" value="toggle">
                        </th:block>
                        <th:block sec:authorize="!hasRole('IS_ADMIN')">
                            <span id="tglPsSpan">You need IS_ADMIN role to toggle 'paused retrieve state' </span>
                        </th:block>
                    </form>
                </th>
            </tr>
            </thead>
            <th:block th:each="pausedState,status: ${pausedStates}">
                <tr>
                    <td th:if="${status.first}">
                        CURRENT STATE
                    </td>
                    <td th:unless="${status.first}">&nbsp;</td>

                    <td>[[${pausedState.isPaused}]]</td>
                    <td>[[${#temporals.format(pausedState.created,'yyyy-MMM-dd HH:mm:ss')}]]</td>

                    <td>&nbsp;</td>
                </tr>
            </th:block>
        </table>
    </div>

    <hr/>
    <th:block th:with="isAdmin=|hasRole('IS_ADMIN')|">
        <th:block th:if="${#authorization.expression(isAdmin)}">
            SPRING SEC : IS ADMIN
        </th:block>
        <th:block th:unless="${#authorization.expression(isAdmin)}">
            SPRING SEC : NOT ADMIN
        </th:block>
    </th:block>

    <hr/>
    <th:block th:with="areRetrievesNotPaused=|(!@permissionsService.retrievesPaused())|">
        <th:block th:if="${#authorization.expression(areRetrievesNotPaused)}">
            SPRING SEC : RETRIEVES ARE NOT PAUSED
        </th:block>
        <th:block th:unless="${#authorization.expression(areRetrievesNotPaused)}">
            SPRING SEC : RETRIEVES ARE PAUSED
        </th:block>
    </th:block>

    <hr/>
    <p>Logged user: <span sec:authentication="name">USER</span>
    <p>Roles: <span sec:authentication="authorities">[ROLE_USER, ROLE_ADMIN]</span>
</div>
</body>
</html>
