#vault-creation-form {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#vault-creation-form fieldset .form-card {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 20px 40px 30px 40px;
    box-sizing: border-box;
    width: 94%;
    margin: 0 3% 20px 3%;
    position: relative
}

#vault-creation-form fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

#vault-creation-form fieldset:not(:first-of-type) {
    display: none
}

#vault-creation-form fieldset .form-card {
    text-align: left;
    color: #000;
}

.card {
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: #2C3E50;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #000000
}

#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 20.0%;
    float: left;
    position: relative
}

#progressbar #affirmation:before {
    font-family: FontAwesome;
    content: "\f00c"
}

#progressbar #billing:before {
    font-family: FontAwesome;
    content: "\f0d6"
}

#progressbar #vault-info:before {
    font-family: FontAwesome;
    content: "\f129"
}

#progressbar #vault-access:before {
    font-family: FontAwesome;
    content: "\f0c0"
}

#progressbar #vault-summary:before {
    font-family: FontAwesome;
    content: "\f291"
}

#progressbar #vault-pending:before {
    font-family: FontAwesome;
    content: "\f254"
}


#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #046B99;
}

#billing-selection-box {
    margin-bottom: 20px;
}

.extra-depositor {
    margin-top: 2px;
}