/*
 * Globals
 */

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}


/*
 * Masthead for nav
 */

.masthead {
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
    box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.nav-item {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    color: #cdddeb;
}
.nav-item:hover,
.nav-item:focus {
    color: #fff;
    text-decoration: none;
}

/* Active state gets a caret at the bottom */
.nav .active {
    color: #fff;
}
.nav .active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    border-left: 5px solid transparent;
}


/*
 * Name and description
 */

.header {
    padding-top: 20px;
    padding-bottom: 20px;
}
.title {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: normal;
}
.description {
    font-size: 20px;
    color: #999;
}

/*
 * Block elements
 */


.box-module {
    padding: 15px;
    margin: 0 -15px 15px;
}

.box-module-inset {
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.box-module-inset p:last-child,
.box-module-inset ul:last-child,
.box-module-inset ol:last-child {
    margin-bottom: 0;
}

/*
 * Centered action buttons in boxes
 */
.box-btn {
    text-align: center;
}

/*
 * Hidden
 */
.hidden {
    display: none;
    height:0px;
    line-height: 0px;
    font-size: 0px;
}

.tree-box {
    margin-bottom: 6px;

}


/* Sticky footer */

html {
  position: relative;
  min-height: 100%;
}

body {
/* Same as the footer height */
margin-bottom: 160px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 160px;
    background-color: #f5f5f5;
    padding-top: 40px;
}

/* Non sticky footer
.footer {
    padding-top: 20px;
}
*/

/* Prevent tree view from taking up too much space */
ul.fancytree-container {
  max-height: 50%;
}
