<!DOCTYPE html><!--auth/denied.html-->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/html"
      layout:decorate="~{layout/defaultlayout}">

<head><title>Authentication - Access Denied</title></head>
<th:block layout:fragment="content">
    <div class="row">
        <div class="col-sm-3 col-sm-offset-5 col-md-3 col-md-offset-5">

            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Access denied.
            </div>

        </div>
    </div>
</th:block>
</html>
