<html>
<body>
<p>A user has submitted a new DataVault vault with the details as per below. The vault may be viewed in the Admin interface, in the list of confirmed pending vaults (rather than the saved pending vaults, which are un-submitted). The Research Data Support team should check the vault, check whether adequate assurances have been received re any required funding, and either approve it or contact the user.</p>
<ul>
    <li>Vault name: ${vault-name}</li>
    <li>Submitter: ${submitter-id}</li>
    <li>School: ${group-name}</li>
    <li>Timestamp when submitted: ${timestamp}</li>
</ul>
</body>
</html>