<html>
<p>
    The following vault in the University of Edinburgh DataVault is now due for review. As you are the Data Owner of the
    vault, the Research Data Support team seeks your confirmation that this vault can be deleted on the Review Date.
</p>

<ul>
    <li>Vault name: ${vault-name}</li>
    <li>School: ${group-name}</li>
    <li>Vault ID:  ${vault-id}</li>
    <li>Review date: ${vault-review-date}</li>
    <li>Retention Policy expiry date: ${retention-policy-expiry-date}</li>
</ul>

<p>
    Further details and access to the data available at <a href=${home-page}>${home-page}</a> (use your University login
    and password).
    If you are happy for all the data to be deleted on the review date ${vault-review-date}, please
    email the Research Data Support team to let us know that, at ${help-mail} .
    If on the other hand you believe some or all of the deposits should be kept beyond the review date, please email the
    Research Data Support team with the following details:
</p>
<ul>
    <li>Which deposits you want to keep and which you want to delete;</li>
    <li>The length of time of the extension / the new review date;</li>
    <li>How you intend to pay the cost of the extension (from a budget code or from an active grant).</li>
</ul>

<p>
    If we do not hear from you, we will seek confirmation from your Head of School as to whether the data may be deleted
    or should be kept.
</p>
<p>
    Please don’t hesitate to ask if you are unsure, and would like to discuss the risks and benefits / pros and cons of
    keeping or deleting the data.
</p>

<p>
    Further information about the service is available at <a href=${help-page}>${help-page}</.
</p>
<p>
    Thank you for using the DataVault. Best wishes,
</p>
<p>
    Research Data Support Team
<p>
    <a href="https://www.ed.ac.uk/information-services/research-support/research-data-service/contact">https://www.ed.ac.uk/information-services/research-support/research-data-service/contact</a>
</p>
</body>

</html>
