<html>
	<body>
		
		<p>Unfortunately the attempted operation (deposit or retrieval of a deposit) with the following details was unsuccessful:</p>
		<ul>
			<li>Deposit name: ${deposit-name}</li>
			<li>Date of failed operation: ${timestamp}</li>
			<li>Contains personal data: ${hasPersonalData}</li>
			<li>Deposit ID: ${deposit-id}</li>
			<li>Name of user who attempted the failed operation: ${retriever-firstname} ${retriever-lastname}</li>
			<li>ID of the user who attempted the failed operation: ${retriever-id}</li>
			<li>Name of the user who originally deposited the deposit::${user-firstname} ${user-lastname}</li>
			<li>ID of the user who originally deposited the deposit: ${user-id}</li>
		</ul>
		<p>The deposit was being deposited/retrieved from the following Vault:</p>
		<ul>
			<li>Vault name: ${vault-name}</li>
			<li>Vault ID: ${vault-id}</li>
			<li>Review date: ${vault-review-date}</li>
		</ul>
		<p>Please contact the support team for assistance at <a href="mailto:${help-mail}?Subject=[DataVault deposit fail]" target="_top">data-support@ed.ac.uk</a>. We may be able to restart an interrupted deposit.</p>
		<p>However a deposit might fail because some of the files in one of the folders from which the data were being copied were moved or edited, causing the checksums to not match. In such a case, the depositor would have to attempt the deposit anew.</p>
		<p>Further information about the service is available at <a href=${help-page}>${help-page}</a>.</p>

	</body>
</html>
