<html>
	<body>
		
		<p>Unfortunately the attempted deposit with the following details was unsuccessful:</p>
		<ul>
			<li>Deposit name: ${deposit-name}</li>
			<li>Size: ${size-bytes} bytes</li>
			<li>Date of deposit: ${timestamp}</li>
			<li>Contains personal data: ${hasPersonalData}</li>
			<li>Deposit ID: ${deposit-id}</li>
			<li>Depositor name: ${user-firstname} ${user-lastname}</li>
			<li>Depositor ID: ${user-id}</li>
		</ul>
		<p>The deposit was being added to the following Vault:</p>
		<ul>
			<li>Vault name: ${vault-name}</li>
			<li>Vault ID: ${vault-id}</li>
			<li>Review date: ${vault-retention-expiry}</li>
		</ul>
		<p>A deposit might fail because some of the files in one of the folders from which the data were being copied were moved or edited, causing the checksums to not match.</p>
		
		<p>Please try again or contact the support team for assistance at <a href="mailto:data-support@ed.ac.uk?Subject=[DataVault deposit fail]" target="_top">data-support@ed.ac.uk</a>.</p>
		
		<p>Further information about the service is available at <a href="http://www.ed.ac.uk/is/research-support/datavault">http://www.ed.ac.uk/is/research-support/datavault</a>.</p>

	</body>
</html>
