<!DOCTYPE html><!--test/dates.html-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><title>Date Formatting Tests</title></head>
<body>
<div id="no-format">[[${myDateTime}]]</div>
<div id="built-in-datetime-format">[[${#dates.format(myDateTime)}]]</div>

<div id="custom-date-format">[[${#dates.format(myDateTime,'dd/MMM/yyyy')}]]</div>
<div id="custom-datetime-format">[[${#dates.format(myDateTime,'dd/MMM/yyyy HH:mm:ss')}]]</div>

<div id="global-time-format">[[${#dates.format(myDateTime, #vars.globalTimeFormat)}]]</div>
<div id="global-datetime-format">[[${#dates.format(myDateTime, #vars.globalDateTimeFormat)}]]</div>
<div id="date-format-iso">[[${#dates.format(myDateTime, #vars.dateFormatISO)}]]<!--/* date */--></div>
<div id="date-format-mm"> [[${#dates.format(myDateTime, #vars.dateFormatddMMyyyy)}]]<!--/* date */--></div>
<div id="date-format-mmm">[[${#dates.format(myDateTime, #vars.dateFormatddMMMyyyy)}]]<!--/* date */--></div>
</body>
</html>