<!DOCTYPE html><!--admin/billing/index.html-->
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/defaultlayout(nav='admin')}">
<head><title>Admin - Billing Details</title></head>
<th:block layout:fragment="content" th:with="queryPARAM=${#uris.escapeQueryParam(query)}">
                <div class="container">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/admin/}"><b>Administration</b></a></li>
                            <li class="breadcrumb-item active" aria-current="page"><b>Billing</b></li>
                        </ol>
                    </nav>
                    <form id="search-vaults" class="form" role="form" action="" method="get">
                        <div class="input-group">
                            <input type="text" class="form-control" th:value="${queryPARAM}" name="query" placeholder="Search for...">
                            <div class="input-group-btn">
                                <button class="btn btn-primary" type="submit"><i class="bi bi-search" aria-hidden="true"></i> Search</button>
                            </div>
                        </div>
                    </form>
                    <div class="text-right">

                        <form id="search-vaults" class="form" role="form" th:action="@{/admin/billing/csv}" method="get">
                            <div class="input-group text-right">
                                <input type="text" class="form-control hidden" th:value="${queryPARAM}" name="query" placeholder="Search for...">
                                <button class="btn btn-primary" type="submit"><i class="bi bi-box-arrow-up-right" aria-hidden="true"></i> Download CSV File</button>
                                <div class="text-right">
                                </div>
                            </div>
                        </form>
                    </div>
                    <th:block th:if="${vaults != null}">
                        <div class="table-responsive" id="vaultsTable">
                            <table class="table table-light table-striped table-hover align-middle">
                                <thead>
                                    <tr class="tr">
                                        <th><a th:href="|?sort=name&order=${ordername}&query=${queryPARAM}|">Vault Name
                                            <i th:if="${sort == 'name' and order == 'desc'}" class="bi bi-caret-up-fill ms-1"></i>
                                            <i th:if="${sort == 'name' and order != 'desc'}" class="bi bi-caret-down-fill ms-1"></i>
                                        </a></th>
                                        <th><a th:href="|?sort=projectId&order=${orderProjectId}&query=${queryPARAM}|">Project Id
                                            <i th:if="${sort == 'projectId' and order == 'desc'}" class="bi bi-caret-up-fill ms-1"></i>
                                            <i th:if="${sort == 'projectId' and order != 'desc'}" class="bi bi-caret-down-fill ms-1"></i>
                                        </a></th>
                                        <th>Project Size</th>
                                        <th><a th:href="|?sort=vaultSize&order=${ordervaultsize}&query=${queryPARAM}|">Vault Size
                                            <i th:if="${sort == 'vaultSize' and order == 'desc'}" class="bi bi-caret-up-fill ms-1"></i>
                                            <i th:if="${sort == 'vaultSie' and order != 'desc'}" class="bi bi-caret-down-fill ms-1"></i>
                                        </a></th>
                                        <th><a th:href="|?sort=grantEndDate&order=${ordergrantEndDate}&query=${queryPARAM}|">Grant End Date
                                            <i th:if="${sort == 'grantEndDateDate' and order == 'desc'}" class="bi bi-caret-up-fill ms-1"></i>
                                            <i th:if="${sort == 'grantEndDateDate' and order != 'desc'}" class="bi bi-caret-down-fill ms-1"></i>
                                        </a></th>
                                        <th><a th:href="|?sort=creationTime&order=${ordercreationtime}&query=${queryPARAM}|">Date created
                                            <i th:if="${sort == 'creationTime' and order == 'desc'}" class="bi bi-caret-up-fill ms-1"></i>
                                            <i th:if="${sort == 'creationTime' and order != 'desc'}" class="bi bi-caret-down-fill ms-1"></i>
                                        </a></th>
                                        <th><a th:href="|?sort=reviewDate&order=${orderreviewDate}&query=${queryPARAM}|">Review Date
                                            <i th:if="${sort == 'reviewDate' and order == 'desc'}" class="bi bi-caret-up-fill ms-1"></i>
                                            <i th:if="${sort == 'reviewDate' and order != 'desc'}" class="bi bi-caret-down-fill ms-1"></i>
                                        </a></th>
                                        <th>Amount to be Billed</th>
                                        <th>Amount Billed</th>
                                        <th><a th:href="|?sort=user&order=${orderuser}&query=${queryPARAM}|">Owner
                                            <i th:if="${sort == 'vault.user.id' and order == 'desc'}" class="bi bi-caret-up-fill ms-1"></i>
                                            <i th:if="${sort == 'vault.user.id' and order != 'desc'}" class="bi bi-caret-down-fill ms-1"></i>
                                        </a></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                        <tr th:each="vault: ${vaults}" class="tr">
                                            <td>
                                                <a th:href="@{|/vaults/${vault.getID()}|}">
                                                    [[${vault.name}]]
                                                </a>
                                            </td>
                                            <td>
                                                <span th:if="${vault.getProjectId() != null}">
                                                    [[${vault.getProjectId()}]]
                                                </span>
                                            </td>
                                            <td>
                                                [[${vault.getProjectSizeStr()}]]
                                            </td>
                                            <td>
                                                [[${vault.getSizeStr()}]]
                                            </td>
                                            <td>
                                                <span th:if="${vault.grantEndDate != null}">
                                                    [[${#temporals.format(vault.grantEndDate,dateFormatddMMMyyyy)}]]<!--/* date */-->
                                                </span>
                                            </td>
                                            <td>
                                                [[${#temporals.format(vault.getCreationTime(),globalDateTimeFormat)}]]<!--/* datetime */-->
                                            </td>
                                            <td>
                                                <span th:if="${vault.reviewDate != null}">
                                                    [[${#temporals.format(vault.reviewDate,dateFormatddMMMyyyy)}]]<!--/* date */-->
                                                </span>
                                            </td>
                                            <td>
                                                <span th:if="${vault.getAmountToBeBilled() != null}">
                                                    [[${vault.getAmountToBeBilled()}]]
                                                </span>
                                            </td>
                                            <td>
                                                <span th:if="${vault.getAmountBilled() != null}">
                                                    [[${vault.getAmountBilled()}]]
                                                </span>
                                            </td>
                                            <td>
                                                <span th:if="${vault.getOwnerName() != null}">
                                                    [[${vault.getOwnerName()}]]
                                                </span>
                                            </td>
                                            <td>
                                                <a th:href="@{|/admin/billing/${vault.getID()}|}">Billing Details</a>
                                            </td>
                                        </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center">
                            <p class="text-muted">
                                [[${recordsInfo}]]
                            </p>
                        </div>
                        <div class="d-flex justify-content-center">
                            <nav aria-label="...">
                                <ul class="pagination pagination-lg" id="paginationButton">
                                    <th:block th:each="page: ${#numbers.sequence(1,numberOfPages)}">
                                        <li th:id="${page}" th:class="${page == activePageId ? 'page-item active' : 'page-item' }">
                    <a class="page-link" th:href="@{|/admin/billing?query=${queryPARAM}&sort=${sort}&order=${order}&pageId=${page}|}" tabindex="-1">
                        [[${page}]]
                    </a>
                    </li>
                    </th:block>
                    </ul>
                    </nav>
                </div>
                </th:block>
                </div>
</th:block>
</html>
