<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout(nav='admin')}">

<div layout:fragment="content" th:with="queryPARAM=${#uris.escapeQueryParam(query)}">
                <div class="container">
                    <ol class="breadcrumb">
                        <li><a th:href="@{/admin/}"><b>Administration</b></a></li>
                        <li class="active"><b>Billing</b></li>
                    </ol>
                    <form id="search-vaults" class="form" role="form" action="" method="get">
                        <div class="input-group">
                            <input type="text" class="form-control" th:value="${queryPARAM}" name="query" placeholder="Search for...">
                            <div class="input-group-btn">
                                <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</button>
                            </div>
                        </div>
                    </form>
                    <div align="right">
                        <form id="search-vaults" class="form" role="form" th:action="@{/admin/billing/csv}" method="get">
                            <div class="input-group" align="right">
                                <input type="text" class="form-control hidden" th:value="${queryPARAM}" name="query" placeholder="Search for...">
                                <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-export" aria-hidden="true"></span> Download CSV File</button>
                                <div align="right">
                                </div>
                            </div>
                        </form>
                    </div>
                    <th:block th:if="${vaults != null}">
                        <div class="table-responsive" id="vaultsTable">
                            <table class="table table-striped">
                                <thead>
                                    <tr class="tr">
                                        <th><a th:href="|?sort=name&order=${ordername}&query=${queryPARAM}|">Vault Name
                                            <th:block th:if="${sort == 'name'}">
                                                    <span th:if="${order=='desc'}" class="dropup"><span class="caret"></span></span>
                                                    <span th:if="${order!='desc'}" class="caret"></span>
                                            </th:block>
                                        </a></th>
                                        <th><a th:href="|?sort=projectId&order=${orderProjectId}&query=${queryPARAM}|">Project Id
                                            <th:block th:if="${sort == 'projectId'}">
                                                <span th:if="${order=='desc'}" class="dropup"><span class="caret"></span></span>
                                                <span th:if="${order!='desc'}" class="caret"></span>
                                            </th:block>
                                        </a></th>
                                        <th>Project Size</th>
                                        <th><a th:href="|?sort=vaultSize&order=${ordervaultsize}&query=${queryPARAM}|">Vault Size
                                            <th:block th:if="${sort == 'vaultSize'}">
                                                <span th:if="${order=='desc'}" class="dropup"><span class="caret"></span></span>
                                                <span th:if="${order!='desc'}" class="caret"></span>
                                            </th:block>
                                        </a></th>
                                        <th><a th:href="|?sort=grantEndDate&order=${ordergrantEndDate}&query=${queryPARAM}|">Grant End Date
                                            <th:block th:if="${sort == 'grantEndDateDate'}">
                                                <span th:if="${order=='desc'}" class="dropup"><span class="caret"></span></span>
                                                <span th:if="${order!='desc'}" class="caret"></span>
                                            </th:block>
                                        </a></th>
                                        <th><a th:href="|?sort=creationTime&order=${ordercreationtime}&query=${queryPARAM}|">Date created
                                            <th:block th:if="${sort == 'creationTime'}">
                                                <span th:if="${order=='desc'}" class="dropup"><span class="caret"></span></span>
                                                <span th:if="${order!='desc'}" class="caret"></span>
                                            </th:block>
                                        </a></th>
                                        <th><a th:href="|?sort=reviewDate&order=${orderreviewDate}&query=${queryPARAM}|">Review Date
                                            <th:block th:if="${sort == 'reviewDate'}">
                                                <span th:if="${order=='desc'}" class="dropup"><span class="caret"></span></span>
                                                <span th:if="${order!='desc'}" class="caret"></span>
                                            </th:block>
                                        </a></th>
                                        <th>Amount to be Billed</th>
                                        <th>Amount Billed</th>
                                        <th><a th:href="|?sort=vault.user.id&order=${orderuser}&query=${queryPARAM}|">Owner
                                            <th:block th:if="${sort == 'vault.user.id'}">
                                                <span th:if="${order=='desc'}" class="dropup"><span class="caret"></span></span>
                                                <span th:if="${order!='desc'}" class="caret"></span>
 d                                            </th:block>
                                        </a></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                        <tr th:each="vault: ${vaults}" class="tr">
                                            <td>
                                                <a href="@{|/vaults/${vault.getID()}|}">
                                                    [[${vault.name}]]
                                                </a>
                                            </td>
                                            <td>
                                                <span th:if="${vault.getProjectId() != null}">
                                                    [[${vault.getProjectId()}]]
                                                </span>
                                            </td>
                                            <td>
                                                [[${vault.getProjectSizeStr()}]]
                                            </td>
                                            <td>
                                                [[${vault.getSizeStr()}]]
                                            </td>
                                            <td>
                                                <span th:if="${vault.grantEndDate != null}">
                                                    [[${#dates.format(vault.grantEndDate,'dd MMM yyyy')}]]<!--/* date */-->
                                                </span>
                                            </td>
                                            <td>
                                                [[${#dates.format(vault.getCreationTime(),'HH:mm:ss yyyy-MM-dd')}]]<!--/* datetime */-->
                                            </td>
                                            <td>
                                                <span th:if="${vault.reviewDate != null}">
                                                    [[${#dates.format(vault.reviewDate,'dd MMM yyyy')}]]<!--/* date */-->
                                                </span>
                                            </td>
                                            <td>
                                                <span th:if="${vault.getAmountToBeBilled() != null}">
                                                    [[${vault.getAmountToBeBilled()}]]
                                                </span>
                                            </td>
                                            <td>
                                                <span th:if="${vault.getAmountBilled() != null}">
                                                    [[${vault.getAmountBilled()}]]
                                                </span>
                                            </td>
                                            <td>
                                                <span th:if="${vault.getOwnerName() != null}">
                                                    [[${vault.getOwnerName()}]]
                                                </span>
                                            </td>
                                            <td>
                                                <a href="@{|/admin/billing/${vault.getID()}|}">Billing Details</a>
                                            </td>
                                        </tr>
                                </tbody>
                            </table>
                        </div>
                        <div align="center">
                            <p class="text-info">
                                [[${recordsInfo}]]
                            </p>
                        </div>
                        <div align="center">
                            <nav aria-label="...">
                                <ul class="pagination pagination-lg" id="paginationButton">
                                    <th:block th:each="page: ${#numbers.sequence(1,numberOfPages)}">
                                        <li th:id="${page}" th:class="${page == activePageId ? 'page-item active' : 'page-item' }">
                    <a class="page-link" th:href="@{|/admin/billing?query=${queryPARAM}&sort=${sort}&order=${order}&pageId=${page}|}" tabindex="-1">
                        [[${page}]]
                    </a>
                    </li>
                    </th:block>
                    </ul>
                    </nav>
                </div>
                </th:block>
                </div>
</div>
</html>
