<!DOCTYPE html><!--layout/defaultLayout.html-->
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
<head>
    <title>DEFAULT LAYOUT</title>
    <th:block th:replace="~{layout/imports.html}"></th:block>
</head>
<body>
<div id="datavault-container">
    <div id="datavault-header">
        <div th:replace="~{layout/header.html}"></div>
    </div><!--layout-datavault-header-->
    <div id="datavault-body">
        <div layout:fragment="content">NESTED CONTENT GOES HERE</div>
    </div><!--layout-datavault--body-->
    <div id="datavault-footer" style="z-index: -10">
        <div th:replace="~{layout/footer.html}"></div>
    </div><!--layout-datavault-footer-->
</div><!--layout-datavault-container-->
</body>
</html>
