<!--layout/footer.html-->
<div class="datavault-footer">

    <!-- Top band -->
    <div class="discover-uni bg-dark text-white py-3">
        <div class="container-fluid">
            <h3 class="m-0">The University of Edinburgh</h3>
        </div>
    </div>

    <!-- Main footer links -->
    <div class="footer bg-secondary text-white py-4">
        <div class="container-fluid">
            <div class="row gy-3">

                <div class="col-md-4">
                    <ul class="list-unstyled mb-0">
                        <li><a href="http://www.ed.ac.uk/about/website/website-terms-conditions" class="text-white text-decoration-none">Terms &amp; conditions</a></li>
                        <li><a href="https://www.ed.ac.uk/information-services/research-support/research-data-service/sharing-preserving-data/datavault/privacy" class="text-white text-decoration-none">Privacy Notice</a></li>
                        <li><a href="http://www.ed.ac.uk/about/website/privacy" class="text-white text-decoration-none">Cookies</a></li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <ul class="list-unstyled mb-0">
                        <li><a href="http://www.ed.ac.uk/sustainability/modern-slavery-statement" class="text-white text-decoration-none">Modern slavery</a></li>
                        <li><a href="/accessibility" class="text-white text-decoration-none">Accessibility statement</a></li>
                        <li><a href="http://www.ed.ac.uk/about/website/freedom-information" class="text-white text-decoration-none">Freedom of information publication scheme</a></li>
                    </ul>
                </div>

                <div class="col-md-4 text-md-end text-center">
                    <a href="http://www.ed.ac.uk/about/mission-governance/affiliations">
                        <img class="img-fluid" alt="University affiliations" th:src="@{/resources/theme/jackie/footer-affiliations.png}">
                    </a>
                </div>

            </div><!-- /row1 -->

            <div class="row mt-4 gy-3 align-items-center">

                <div class="col-md-4 order-md-2 text-md-end text-center">
                    <a class="btn btn-danger btn-sm" href="http://www.myed.ed.ac.uk/">
                        MyEd login <i class="bi bi-chevron-right"></i>
                    </a>
                </div>

                <div class="col-md-8 order-md-1">
                    <p class="text-light small mb-0">
                        The University of Edinburgh is a charitable body, registered in Scotland, with registration number
                        SC005336, VAT Registration Number GB&nbsp;592&nbsp;9507&nbsp;00, and is acknowledged by the UK authorities as a
                        “<a href="https://www.gov.uk/guidance/recognised-uk-degrees" class="text-white text-decoration-underline">Recognised body</a>”
                        which has been granted degree awarding powers.
                    </p>
                </div>
            </div><!-- /row2 -->
        </div><!-- /container -->
    </div><!-- /footer -->

    <!-- Copyright -->
    <div class="footer-copyright bg-dark text-white py-3">
        <div class="container-fluid">
            <p class="m-0 small">
                Unless explicitly stated otherwise, all material is copyright © The University of Edinburgh 2026.
            </p>
        </div>
    </div>

    <!-- CMS Login -->
    <div class="footer-login bg-dark py-2">
        <div class="container-fluid text-end">
            <a rel="nofollow" class="login-link text-decoration-none" href="https://www.ease.ed.ac.uk/cosign.cgi?cosign-eucsCosign-www.edweb.ed.ac.uk&amp;https://www.edweb.ed.ac.uk/user/login?destination=node/56351">
                <abbr class="initialism">CMS</abbr> login <i class="bi bi-chevron-right"></i>
            </a>
        </div>
    </div>

</div><!-- /datavault-footer -->