<!--layout/header.html-->
<!-- nav is ([[${nav}]]) -->
<div class="datavault-header">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header"></div>
        <ul class="nav navbar-nav ">
            <li th:class="${nav == 'home' ? 'active' : '' }"><a th:href="@{/}">DATAVAULT</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li sec:authorize-url="/admin" th:class="${nav == 'admin' ? 'active' : ''}">
                <a th:href="@{/admin}">Administration</a>
            </li>
            <li sec:authorize="isAuthenticated()" th:class="${nav == 'user' ? 'active' : ''}">
                <a th:href="@{/filestores}">File Locations</a>
            </li>
            <li th:class="${nav == 'feedback' ? 'active' : ''}">
                <a href="https://www.ed.ac.uk/information-services/research-support/research-data-service/contact" target="_blank">Contact</a>
            </li>
            <li th:class="${nav == 'help' ? 'active' : ''}">
                <a href="http://www.ed.ac.uk/is/research-support/datavault" target="_blank">More Info</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a th:href="@{/auth/logout}">Logout</a>
            </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid whitebackground">
        <div class="row">
            <div class="col-sm-4">
                <span class="titleblock">
                    <img th:src="@{/resources/theme/jackie/logo.png}" alt="The University of Edinburgh">
                </span>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    
    <div class="container-fluid greyblue">
        <div class="page-head-title ">
            <h1 class="sr-only">
                <a href="https://www.ed.ac.uk/information-services/research-support/research-data-service" class="active">
                    Research Data Service
                </a>
            </h1>
            <h2 class="sr-only">
                <a href="http://www.ed.ac.uk/information-services">Information Services</a>
            </h2>
            <h2 aria-hidden="true">
                <a href="http://www.ed.ac.uk/information-services">
                    Information Services
                </a>
            </h2>
            <h1 aria-hidden="true">
                <a href="https://www.ed.ac.uk/information-services/research-support/research-data-service" class="active">
                    Research Data Service
                </a>
            </h1>
        </div>
    </div>
</div>
