<!--layout/header.html-->
<!-- nav is ([[${nav}]]) -->
<div class="datavault-header" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <div id="dv-user-info" style="display:none">
        <div id="loggedin" sec:authorize="isFullyAuthenticated()">
            <p>Authenticated as [<span id="dv-user-name" sec:authentication="name"></span>]</p>
            <p>Granted Authorities : [<span th:text="${#lists.size(#authentication.authorities)}">-1</span>]</p>
            <p th:each="user_role, iter: ${#authentication.authorities}">
                Granted Authority : [<span>[[${iter.count}]]/[[${iter.size}]]</span>] : <span class="dv-user-role" th:text="${user_role.authority}">DUMMY_ROLE_NAME</span>
            </p>
        </div>
        <div id="notloggedin" sec:authorize="!isFullyAuthenticated()">
            NOT LOGGED IN
        </div>
    </div>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header"></div>
        <ul class="nav navbar-nav ">
            <li th:class="${nav == 'home' ? 'active' : '' }"><a th:href="@{/}">DATAVAULT</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li sec:authorize-url="/admin" th:class="${nav == 'admin' ? 'active' : ''}">
                <a th:href="@{/admin}">Administration</a>
            </li>
            <li sec:authorize="isAuthenticated()" th:class="${nav == 'user' ? 'active' : ''}">
                <a th:href="@{/filestores}">File Locations</a>
            </li>
            <li th:class="${nav == 'feedback' ? 'active' : ''}">
                <a href="https://www.ed.ac.uk/information-services/research-support/research-data-service/contact" target="_blank">Contact</a>
            </li>
            <li th:class="${nav == 'help' ? 'active' : ''}">
                <a href="http://www.ed.ac.uk/is/research-support/datavault" target="_blank">More Info</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a th:href="@{/auth/logout}">Logout</a>
            </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid whitebackground">
        <div class="row">
            <div class="col-sm-4">
                <span class="titleblock">
                    <img th:src="@{/resources/theme/jackie/logo.png}" alt="The University of Edinburgh">
                </span>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    
    <div class="container-fluid greyblue">
        <div class="page-head-title ">
            <h1 class="sr-only">
                <a href="https://www.ed.ac.uk/information-services/research-support/research-data-service" class="active">
                    Research Data Service
                </a>
            </h1>
            <h2 class="sr-only">
                <a href="http://www.ed.ac.uk/information-services">Information Services</a>
            </h2>
            <h2 aria-hidden="true">
                <a href="http://www.ed.ac.uk/information-services">
                    Information Services
                </a>
            </h2>
            <h1 aria-hidden="true">
                <a href="https://www.ed.ac.uk/information-services/research-support/research-data-service" class="active">
                    Research Data Service
                </a>
            </h1>
        </div>
    </div>
</div>
