<!--layout/imports.html-->
<th:block id="imports">
    <link rel="icon" type="image/ico" th:href="@{/resources/favicon.ico?v=2}"/>

    <!-- CSS -->
    <link th:href="@{/resources/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/resources/bootstrap-select/css/bootstrap-select.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/resources/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/resources/fancytree/skin-lion/ui.fancytree.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/resources/theme/css/createVault.css}" rel="stylesheet" type="text/css">
    <!--
    <link href="/dv/resources/theme/css/vault.css" rel="stylesheet" type="text/css">
    -->

    <!-- jQuery js -->
    <script th:src="@{/resources/jquery/js/jquery-1.11.3.min.js}"></script>

    <!-- jQuery UI js -->
    <script th:src="@{/resources/jquery-ui/jquery-ui.min.js}"></script>
    <link th:href="@{/resources/jquery-ui/jquery-ui.min.css}" rel="stylesheet" type="text/css">

    <!-- Bootstrap js -->
    <script th:src="@{/resources/bootstrap/js/bootstrap.min.js}"></script>

    <!-- Bootstrap-select js -->
    <script th:src="@{/resources/bootstrap-select/js/bootstrap-select.min.js}"></script>

    <!-- jQuery validate js -->
    <script th:src="@{/resources/jquery-validate/js/jquery.validate.min.js}"></script>

    <!-- Fancytree js -->
    <script th:src="@{/resources/fancytree/jquery.fancytree-all.min.js}"></script>

    <!-- Flow.js -->
    <script th:src="@{/resources/flow/js/flow.min.js}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script th:src="@{/resources/html5shiv/html5shiv.min.js}"></script>
        <script th:src="@{/resources/respond/respond.min.js}"></script>
    <![endif]-->

    <!-- Spring Security CSRF (ajax) -->
    <meta name="_csrf" th:content="${_csrf?.token ?: ''}" />
    <meta name="_csrf_header" th:content="${_csrf?.headerName ?: ''}" />

    <!-- For IE compatibility -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Jackie CSS, JS and IMG -->
    <link th:href="@{/resources/theme/jackie/edgel.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/resources/theme/jackie/jackie.css}" rel="stylesheet" type="text/css">
    <!--
    <script src="/dv/resources/theme/jackie/edgel.js"></script>
    -->
    <link th:href="@{/resources/theme/jackie/jackie-quickfix.css}" rel="stylesheet" type="text/css">
    
    <!-- Styles to be overriden -->
    <link th:href="@{/resources/theme/css/overrideStyles.css}" rel="stylesheet" type="text/css">

    <!-- Error Handler JS -->
    <script th:src="@{/resources/theme/js/ErrorHandler.js}"></script>
    <script th:inline="javascript" type="text/javascript">
        var contextPath = /*[(|'@{/}'|)]*/ 'replaced-by-tl';
        ErrorHandler.initialiseSpringContextPath(contextPath);
    </script>
</th:block>