<!DOCTYPE html><!--layout/welcomelayout.html-->
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" th:with="principal=${#authentication.principal}">
<head>
    <title>LOGIN LAYOUT</title>
    <th:block th:replace="~{layout/imports.html}"></th:block>
</head>
<body>
<div id="datavault-container">
    <div id="datavault-header">
        <div th:replace="~{layout/header.html}"></div>
        <div th:replace="~{layout/headerextra.html}"></div>
    </div>
    <div id="datavault-body">
        <div layout:fragment="content">NESTED CONTENT GOES HERE</div>
    </div>
    <div id="datavault-footer">
        <div th:replace="~{layout/footer.html}"></div>
    </div>
</div>
</body>
</html>